* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue-color: 200;
  --body-bgcolor: hsl(var(--hue-color), 60%, 20%);

  --section-bgcolor: hsl(var(--hue-color), 60%, 80%);
  --section-title-color: hsl(var(--hue-color), 80%, 90%);
  --section-title-bgcolor: hsl(var(--hue-color), 80%, 10%);

  --career-bgcolor: hsl(var(--hue-color), 35%, 90%);
  --business-bgcolor: hsl(var(--hue-color), 65%, 40%);
  --project-bgcolor: hsl(var(--hue-color), 55%, 60%);
  --duration-bgcolor: hsl(var(--hue-color) 45%, 80%);
  --link-bgcolor: hsl(var(--hue-color) 35%, 100%);
}

html {
  height: 100%;
}

body {
  font-size: 2rem;
  background-color: var(--body-bgcolor);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  main {
    flex: 1;
    overflow: auto;
    scroll-snap-type: y mandatory;
    padding: 1rem;

    .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      margin-bottom: 2rem;
    }
  }
}

header {
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: sticky;
  flex-wrap: wrap;

  .name {
    color: white;
    text-shadow: 0px 0px 5px #000;
  }

  .photo {
    background-image: url(./images/sreenaina.jpg);
    background-size: cover;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

section {
  scroll-snap-align: start;
  scroll-margin: 1.2rem;
  padding: 1rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: var(--section-bgcolor);
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;

  &.career {
    padding: 1rem;
    padding-top: 2rem;
    position: relative;
    background-color: var(--career-bgcolor);
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 0.5rem;
  }

  .title {
    position: absolute;
    background-color: var(--section-title-bgcolor);
    color: var(--section-title-color);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px 25px 30px;
    top: -15px;
    left: 20px;
  }

  .content {
    line-height: 2rem;
  }

  .business {
    color: var(--section-title-color);
    position: absolute;
    background-color: var(--business-bgcolor);
    padding: 5px 10px;
    border-radius: 5px;
    top: -15px;
    left: 20px;
    font-size: 1.2rem;
  }

  .project {
    position: absolute;
    background-color: var(--project-bgcolor);
    padding: 5px 10px;
    border-radius: 20px 5px;
    top: -15px;
    right: 50px;
  }

  .duration {
    position: absolute;
    background-color: var(--duration-bgcolor);
    padding: 5px 10px;
    border-radius: 5px 20px;
    box-shadow: 0 0 3px #aaa;
    bottom: -10px;
    right: 20px;
    font-size: 0.8rem;
  }

  .link {
    position: absolute;
    background-color: var(--link-bgcolor);
    border-radius: 10%;
    width: 25px;
    height: 25px;
    top: -12px;
    right: 10px;
    background-repeat: no-repeat;
    background-image: url(images/file-type-link.svg);
    background-size: cover;
  }

  .skills {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;

    .skill {
      transition: all 0.5s ease-in-out;
      padding: 10px;
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: left;
      padding-left: 40px;

      &.html {
        background-image: url(images/file-type-html.svg);
      }

      &.css {
        background-image: url(images/file-type-css.svg);
      }

      &.scss {
        background-image: url(images/file-type-scss.svg);
      }

      &.tailwind {
        background-image: url(images/file-type-tailwind.svg);
      }

      &.js {
        background-image: url(images/file-type-js.svg);
      }

      &.python {
        background-image: url(images/file-type-python.svg);
      }

      &.c {
        background-image: url(images/file-type-c.svg);
      }

      &.r {
        background-image: url(images/file-type-r.svg);
      }

      &.matlab {
        background-image: url(images/file-type-matlab.svg);
      }

      &.handlebars {
        background-image: url(images/file-type-handlebars.svg);
      }

      &.react {
        background-image: url(images/file-type-react.svg);
      }

      &.nextjs {
        background-image: url(images/file-type-nextjs.svg);
      }

      &.jquery {
        background-image: url(images/file-type-jquery.svg);
      }

      &.express {
        background-image: url(images/file-type-express.svg);
      }

      &.vite {
        background-image: url(images/file-type-vite.svg);
      }

      &.webpack {
        background-image: url(images/file-type-webpack.svg);
      }

      &.azure {
        background-image: url(images/file-type-azure.svg);
      }

      &.aws {
        background-image: url(images/file-type-aws.svg);
      }

      &.java {
        background-image: url(images/file-type-java.svg);
      }

      &.sql {
        background-image: url(images/file-type-sql.svg);
      }

      &.vscode {
        background-image: url(images/file-type-vscode.svg);
      }

      &.drawio {
        background-image: url(images/file-type-drawio.svg);
      }

      &.git {
        background-image: url(images/file-type-git.svg);
      }

      &.github {
        background-image: url(images/file-type-github.svg);
      }

      &.handlebars {
        background-image: url(images/file-type-handlebars.svg);
      }

      &.axios {
        background-image: url(images/file-type-axios.svg);
      }

      &.webapi {
        background-image: url(images/file-type-webapi.svg);
      }

      &.lambda {
        background-image: url(images/file-type-lambda.svg);
      }

      &.dynamodb {
        background-image: url(images/file-type-dynamodb.svg);
      }

      &.mongo {
        background-image: url(images/file-type-mongo.svg);
      }

      &.apigateway {
        background-image: url(images/file-type-apigateway.svg);
      }

      &.node {
        background-image: url(images/file-type-node.svg);
      }

      &.s3 {
        background-image: url(images/file-type-s3.svg);
      }

      &.r53 {
        background-image: url(images/file-type-r53.svg);
      }

      &.sam {
        background-image: url(images/file-type-sam.svg);
      }
    }

  }
}

section {
  &[intersecting] {
    .title {}

    .skill {}
  }
}